body 
{
  font-family: Raleway;
  background-image: url('https://s3-us-west-2.amazonaws.com/userdata123/www/imagefields/6189/theme_form_background_image-1655979649-847-74-3796189495.jpg?_=1655979651494&_=1657296639287');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
form 
{
  max-width: 900px;
  margin: 40px auto;
  background-color: powderblue;
  padding: 20px;
  border: 2px solid #cccccc;
  border-radius: 8px;
}
.Registration-form, .Signature-form 
{
  margin-bottom: 10px;
  color:gray;
  font-size: 30px;
}
.description 
{
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
}
hr
{
  margin: 20px 0;
}
.form-group 
{
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  gap: 10px;
}
.form-group label 
{
  font-weight: bold;
  margin-bottom: 5px;
  flex: 0 0 40%;
}
input[type="text"], input[type="number"], input[type="date"], select 
{
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #e0e0e0;
  color: #333;
  box-sizing: border-box;
}
input[type="radio"] 
{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
}
input[type="radio"]:checked 
{
  background-color: #333;
}
input[type="checkbox"] 
{
  margin-right: 5px;
}
.button input[type="submit"] 
{
  background-color: #000000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.button input[type="submit"]:hover 
{
  background-color: #333333;
}
.patient-info-column 
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.patient-name-row, .gender-row, .marital-row 
{
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 100%; 
}
.patient-name-row input
{
  flex: 0 0 48%;
}
.patient-name-row input, .gender-row input, .marital-row input 
{
  flex: 0 0 48%; 
}
.gender-row input 
{
  background-color: black; 
  color: white; 
}
.marital-row input 
{
   display: flex;
   flex-direction: column; 
   background-color: black;
   color: white;
}
.city-state-row input 
{
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 0 0 48%;

}
.zip-country-row input, .zip-country-row select
{
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 0 0 48%;
}
.history
{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.history label 
{
  display: flex;
  align-items: left;
  gap: 5px;
  white-space: nowrap;
}
